@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Shrikhand);



body {
  margin: 0em;
  /*font-family: Arial;*/
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
}

.toast-top-right {
  margin-top: 70px !important;
}