<div class="component-wrapper">
<!-- 	<h1>This is the homepage</h1>

	<div class="movie" *ngFor="let movie of movies" (click)="onSelect(movie)">
	  {{movie.title}}
	</div> -->

	<div class="welcome-header animated zoomInDown">
	    <h1>Welcome<br>to<br>Planflix</h1>
	</div>

	<!-- Start Popular conatiner -->
	<div class="feed-container">
		<div class="feed-conatiner-name">
		  <span>Popular Movies</span>
		</div>

		<div class="parent-elements">
			<div class="feed-element" *ngFor="let movie of movies" (click)="onSelect(movie)">
				<div class="feed-element-image">
					<img src="{{movie.poster}}">
				</div>
				<div class="feed-element-infotext">
					<span>{{movie.title}}</span>
				</div>
			</div>
		</div>

	</div>
	<!-- End Popular Searched container -->
