<div class="component-wrapper">
  <h1 class="header-title animated fadeIn">{{title}}</h1>
  <div class="center" *ngIf="filters">
    <select (change)="onSort($event.target.selectedIndex)">
      <option value=''>Select order</option>
      <option value='year'>Order by year</option>
      <option value='rank'>Order by rating</option>
      <option value='name'>Order by name</option>
    </select>
    <select (change)="onFilterByRating($event.target.selectedIndex)">
      <option value='0'>Filter by rating</option>
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
      <option value='6'>6</option>
      <option value='7'>7</option>
      <option value='8'>8</option>
      <option value='9'>9</option>
      <option value='10'>10</option>
    </select>
    <label><input type="checkbox" (click)="toggleAdult()" />Include adult movies</label>
  </div>
  <div class="movie-list">
    <div class="movie" *ngFor="let movie of movies" (click)="onSelect(movie)">
      <img src="{{movie.poster}}" />
      <div class="content">
          <h3>{{movie.title}}</h3>
          <h5>{{movie.year}}</h5>
          <span>
            {{movie.overview}}
          </span>
      </div>
    </div>
  </div>
  <div class="navigatebuttons">
    <span *ngIf="hasPrevious()" (click)="prevPage()" class="leftButton"><img src="/app/img/prev.svg"><br></span>
    <span *ngIf="hasNext()" (click)="nextPage()" class="rightButton"><img src="/app/img/next.svg"></span>
  </div>
</div>