<div *ngIf="movie" class="movie-wrap" [ngStyle]="{'background-image': 'url('+ movie.backdrop + ')'}" >

  <article>
      <div class="movie-info">
        <div class="poster-image shine">
          <img src="{{movie.poster}}">
        </div>

        <div class="movie-description">

            <div class="movie-header">
                <h1 class="movie-title">{{movie.title}} <span *ngIf="movie.year" class="movie-year">({{movie.year}})</span></h1>
              <p>Rating: {{movie.rank | number:'1.0-2'}}/10</p>
            </div>

            <div class="movie-buttons">
                <button *ngFor="let list of lists" class="movie-button" id="have-watch" (click)="addToList(list)">{{ list.name }}</button>
            </div>

            <div class="movie-about">
              <h2>Overview</h2>
              <p>{{movie.overview}}</p>
            </div>
        </div>
        <div class="social-friends">
        </div>
      </div>
  </article>
</div>
