

<!-- Navbar wrapper -->
<div class="navbar" (keydown)="keyPress($event)">
  <!-- Home buttons including home | movielist | profile -->
  <div class="nav-home">
    <!-- Create a button for home -->
    <a class="home-button-link" routerLink="/homepage" routerLinkActive='active'>
      <button class="nav-buttons hvr-underline-from-center" id="home-button">Home</button>
    </a>
    <!-- Create a button for movie lists -->
    <!-- Create a button for profile -->
    <a class="home-button-link" routerLink="/profile" routerLinkActive='active'>
      <button class="nav-buttons hvr-underline-from-center" id="home-button" *ngIf="toggle_logout">Profile</button>
    </a>
  </div>
  <!-- The search bar wrapper -->
  <div id="nav-search">
    <!-- Form with input field -->
    <div class="search-form">
      <p class="fieldset">
        <label class="image-replace cd-search" for="search">Search for movie...</label>

       <input #search class="full-width has-padding has-border search-text" id="signin-username" type="text" name="search" (keyup)="$event.keyCode == 13 && onSubmit(search.value)" placeholder="Search for movie..."/>
        <!-- Has a ngIf to toggle error message -->
        <span class="cd-error-message" *ngIf="toggle_error_username">Error message here!</span>
      </p>
    </div>
  </div>
  <!-- Login buttons -->
  <div id="nav-login">
    <!-- Login calls login() in navbar component -->
    <button class="nav-buttons hvr-underline-from-center cd-signin" (click)="login()" *ngIf="toggle_login">Login</button>
    <!-- Register calls register() in navbar component -->
    <button class="nav-buttons hvr-underline-from-center cd-signup" (click)="register()" *ngIf="toggle_login">Register</button>
    <a class="home-button-link" routerLink="/homepage" routerLinkActive='active'>
      <button class="nav-buttons hvr-underline-from-center cd-signup" (click)="logout()" *ngIf="toggle_logout">Logout</button>
    </a>
  </div>
</div>


<div class="cd-user-modal" *ngIf="show_main" (keydown)="keyPress($event)"> <!-- this is the entire modal form, including the background -->
    <!-- Has a mouseup to check if clicked field is outside container box -->
    <div class="cd-user-modal-container" (window:mouseup)="close($event)"> <!-- this is the container wrapper -->
      <!-- Login and register box switcher -->
      <ul class="cd-switcher">
        <!-- Calls login() and has variable from the component as it's class -->
        <li><a (click)="login()" class="{{this.select_login}}">Sign in</a></li>
        <!-- Calls register() and has variable from the component as it's class -->
        <li><a (click)="register()" class="{{this.select_register}}">New account</a></li>
      </ul>

      <!-- Has a ngIf to change view state of login -->
      <div id="cd-login" *ngIf="show_login"> <!-- log in form -->
        <form class="cd-form" (ngSubmit)="onLogin()">
          <p class="fieldset">
            <label class="image-replace cd-username" for="signin-username">Username</label>

           <input class="full-width has-padding has-border" id="signin-username" type="text" placeholder="Username" [(ngModel)]="this.user_name" name="username">
            <!-- Has a ngIf to toggle error message -->
            <span class="cd-error-message" *ngIf="toggle_error_username">Username</span>
          </p>

          <p class="fieldset">
            <label class="image-replace cd-password" for="signin-password">Password</label>
            <input class="full-width has-padding has-border" id="signin-password" type="{{this.password_type}}" placeholder="Password" [(ngModel)]="this.user_password" name="password">
            <a class="{{this.show_password}}" (click)="toggle_password()">{{this.show_password_text}}</a>
            <span class="cd-error-message" *ngIf="toggle_error_password">Wrong Username or Password!</span>
          </p>

          <p class="fieldset">
            <input type="checkbox" id="remember-me" checked>
            <label for="remember-me">Remember me</label>
          </p>

          <p class="fieldset">
            <input class="full-width" type="submit" value="Login">
          </p>
        </form>

        <p class="cd-form-bottom-message"><a (click)="reset()">Forgot your password?</a></p>
        <!-- <a href="#0" class="cd-close-form">Close</a> -->
      </div> <!-- cd-login -->

      <div id="cd-signup" *ngIf="show_register"> <!-- sign up form -->
        <form class="cd-form" (ngSubmit)="onRegister()">
          <p class="fieldset">
            <label class="image-replace cd-email" for="signin-email">Email</label>

           <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="Email" [(ngModel)]="this.user_email" name="email">
            <!-- Has a ngIf to toggle error message -->
            <span class="cd-error-message" *ngIf="toggle_error_email">Email already taken!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace cd-username" for="signin-username">Username</label>

           <input class="full-width has-padding has-border" id="signin-username" type="text" placeholder="Username" [(ngModel)]="this.user_name" name="username">
            <!-- Has a ngIf to toggle error message -->
            <span class="cd-error-message" *ngIf="toggle_error_username">Username already taken!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace cd-password" for="signup-password">Password</label>
            <input class="full-width has-padding has-border" id="signup-password" type="{{this.password_type}}" placeholder="Password" [(ngModel)]="this.user_password" name="password">
            <a class="{{this.show_password}}" (click)="toggle_password()">{{this.show_password_text}}</a>
            <span class="cd-error-message" *ngIf="toggle_error_password">Password</span>
          </p>

          <p class="fieldset">
            <input class="full-width has-padding" type="submit" value="Create account">
          </p>
        </form>

        <!-- <a href="#0" class="cd-close-form">Close</a> -->
      </div> <!-- cd-signup -->

      <div id="cd-reset-password" *ngIf="show_reset"> <!-- reset password form -->
        <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

        <form class="cd-form">
          <p class="fieldset">
            <label class="image-replace cd-email" for="reset-email">E-mail</label>
            <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
            <span class="cd-error-message" *ngIf="toggle_error_email">Error message here!</span>
          </p>

          <p class="fieldset">
            <input class="full-width has-padding" type="submit" value="Reset password">
          </p>
        </form>

        <p class="cd-form-bottom-message"><a (click)="login()">Back to log-in</a></p>
      </div> <!-- cd-reset-password -->
    </div> <!-- cd-user-modal-container -->
  </div> <!-- cd-user-modal -->
