
<article>
	<div class="profile-content">
		<div class="profile-info">
			<div class="personal-info">
				<div class="profile-picture">
					<img src="https://s3-eu-west-1.amazonaws.com/infogram-gallery-images/2247112_1442779609837.jpg">
				</div>
				<div class="profile-name-and-stats">
					<h1>{{this.user_name}}</h1>
				</div>
			</div>
			<hr>
			<div class="movieList-list">
				<h3>Select a list</h3>
				<div class="movieList-list-item" (click)="onShowSearchHistory()">Search history</div>
				<div *ngFor="let list of lists" class="movieList-list-item" (click)="onSelect(list)">{{ list.name }}</div>
			</div>
		</div>

		<div class="profile-lists">
		<!-- List of lists and on click display it on the right -->
			<div *ngIf="!showHistory" class="profile-lists-header">
				<h1>{{list.name}}</h1>
				<input type="image" class="detail-toggle-button" src="{{this.image_src}}" (click)="toggleDetail()" />
				<div class="profile-card-list">
					<div class="{{movie_class}}" *ngFor="let movie of movies" (click)="onSelectMovie(movie)">
						<img src="{{movie.poster}}" />
						<div class="content" *ngIf="showmeta">
							<h3>{{movie.title}}</h3>
							<h5>{{movie.year}}</h5>
							<span>{{movie.overview}}</span>
						</div>
						<div class="delete-container"><input type="image" class="delete-button" src="app/img/button-delete.svg" (click)="onDelete(movie)"></div>
					</div>
				</div>
			</div>
			<div *ngIf="showHistory" class="profile-lists-header">
				<h1>Search history</h1>
				<div>
					<div class="history-element" *ngFor="let entry of history" (click)="onSearch(entry)">
						<h1>• {{entry}}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
