/**/

.component-wrapper {
	padding-top: 50px;

}

.welcome-header {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
}

.welcome-header h1{
	margin: 0 auto;
	max-width: 400px;
	font-size: 4em;
	overflow: hidden;
	border-radius: 100px;
	font-family: 'Shrikhand', cursive;
	line-height: 120%;
	padding: 20px;

	-webkit-transform: rotateZ(-8deg);
	transform: rotateZ(-8deg);

	box-shadow: 20px 15px 20px 0px rgba(0, 0, 0, 0.5);
	color: #0a313f;
	background: -webkit-linear-gradient(left top, #009dc4 , #316ea0);
	background: -o-linear-gradient(bottom right, #009dc4, #316ea0);
	background: -moz-linear-gradient(bottom right, #009dc4, #316ea0);
	background: linear-gradient(to bottom right, #009dc4, #316ea0);
}

.feed-container {
	padding: 5px;
	margin: 30px auto;
	border-radius: 5px;
	max-width: 87%;
	border: 2px hidden;
	/*background-color: #0c313f;*/
	background: -webkit-linear-gradient(left top, #009dc4 , #316ea0);
	background: -o-linear-gradient(bottom right, #009dc4, #316ea0);
	background: -moz-linear-gradient(bottom right, #009dc4, #316ea0);
	background: linear-gradient(to bottom right, #009dc4, #316ea0);

	/* Shading */
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.feed-conatiner-name span {
	font-size: 1.6em;
	color: white;
	margin-left: 30px;
	text-decoration: underline;
    -webkit-text-decoration-color: #0a313f;
  	text-decoration-color: #0a313f;
}

.parent-elements {
	display: flex;
	display: -webkit-flex;
	align-items: left;
	-webkit-align-items: left;
	justify-content: left;
	-webkit-justify-content: left;
	/* You can set flex-wrap and flex-direction individually */
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	/* Or do it all in one line with flex flow */
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	/* tweak the where items line up on the row */
	/* valid values are: flex-start, flex-end, space-between, space-around, stretch */
	align-content: flex-end;
	-webkit-align-content: flex-end;
}

.feed-element {
	margin: 10px;
	padding: 5px;
	min-width: 100px;
	max-width: 200px;
    border: 1px hidden;
	border-radius: 3px;
	background-color: white;

	cursor: hand;

    /* Transition hover effect */
    transition: all .2s ease-in-out;
}

.feed-element:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
	transform: scale(1.035);
}

.feed-element-image {
	margin: 0 auto;
	border: 1px hidden;
	border-radius: 3px;
}

.feed-element-image img {
	height: 300px;
}

.feed-element-infotext {
	display: flex;
}

.feed-element-infotext span {
	font-size: 1em;
	line-height: 1.125;
	min-height: 3.25em;
}

@media all and (max-width: 600px) {
  .feed-element-image img {
  	height: 20px;
  }
}
