* {
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  color: white;
}

  .movie-wrap {
    min-height:100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }

  article {
    padding-top: 75px;
  }

  .poster-image, .movie-description, .social-friends {
      display: inline-block;
  }

  .poster-image, .social-friends {
    width: 25%;
  }

  .movie-info {
    margin-top: 150px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 450px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: white;
  }

  .poster-image img {
    display: block;
    margin: -30px auto;
    width: 80%;
    min-width: 220px;
    border-radius: 5px;
    box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
  }

  .movie-description {
    width: 50%;
    padding-bottom: 50px;
  }

  .movie-header {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .movie-title, .movie-year {
    font-size: 30px;
  }

  .movie-description > .movie-about {
      width: 80%;
  }

  .movie-about {
    margin-top: 20px;
  }


  .movie-button {
    width: 195px;
    height: 110px;
    font-size: 25px;
    color: white;
    border-radius: 3px;
    border: 1px hidden white;
    margin: 10px;
    cursor:pointer;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: all .3s ease;
  }

  .movie-button:hover {
    transform: scale(1.035);
  }

  #plan-to-watch {
    background-color: #e3bd69;
  }
  #have-watch {
    background-color: #82c3e5;
  }
  #friend-recommend {
    background-color: #c8aabe;
  }
  #add-to-list {
    background-color: #aeb97e;
  }


  .social-friends {
    margin: 20px;
  }

  /* ---!!! Third party styling !!!--- */
  .poster-image .shine {
    position: absolute;
    width: 80%;
    margin: -30px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 60%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 60%);
    z-index: 100;
  }
  .poster-image div[class*="layer-"] {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-transition: 0.1s;
            transition: 0.1s;
  }
