.component-wrapper {
  padding-top: 75px;
  background-color: #f1f1f1;
  min-height: 91vh;
}

.header-title {
  text-align: center;
  font-size: 60px;
}

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  margin: 10px auto;
  cursor: pointer;
}

.movie {
  width: 40%;
  max-height: 220px;
  margin: 10px;
  padding-bottom: 5px;
  background-color: white;

  transition: all .1s ease-in-out;
}

.movie:hover {
  transform: scale(1.05);
  filter: brightness(110%);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.movie img {
  max-width: 150px;
  height: 100%;
}

.movie .content {
  width: calc(100% - 180px);
  height: 200px;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
}

.movie .content h3 {
  margin-bottom: 5px;
}

.movie .content h5 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.center {
  margin: auto;
  text-align: center;
}

.navigatebuttons {
  margin: 0 auto;
  width: 200px;
  height: 80px;
}

.leftButton {
  display: inline-flex;
  float: left;
}
.leftButton img {
  height: 40px;
}

.rightButton {
  display: inline-flex;
  float: right;
}
.rightButton img {
  height: 40px;
}


/*# sourceMappingURL=movie-list.component.css.map */
