
article {
	background-color: #f1f1f1;
	height: 100%;
}

.profile-content {
	padding-top: 95px;
	margin-left: 20px;
	margin-right: 20px;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

 .profile-info {
    max-width: 300px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    margin-top: 20px;

    background-color: white;
    border: 1px hidden;
	border-radius: 3px;
}

.profile-picture {
	margin-left: 20px;
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
}
.profile-picture img {
	max-height: 200px;
    border: 1px hidden;
	border-radius: 3px;
}
.profile-name-and-stats {
	margin-left: 20px;
    margin-right: 20px;
	display: inline-block;
	vertical-align: top;
}
.profile-name-and-stats h1 {
    width: 260px;
}
.profile-name-and-stats p {
	color: grey;
}

.movieList-list {
	list-style-type: none;
	margin: 0 auto;
}
.movieList-list h3 {
	padding-left: 20px;
}

.movieList-list-item {
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
	font-size: 24px;
}
.movieList-list-item:hover {
	background-color: #2098d1;
	color: white;
}

 .profile-lists {
    width: 300px;
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 500px;

    background-color: white;
    margin: 20px;
    border: 1px hidden;
    border-radius: 3px;
    padding-bottom: 5px;
}

.profile-lists-header {
    width: 98%;
    margin: 0 auto;
}

.profile-lists-header h1 {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #2098d1;
}

hr {
    display: block;
    height: 1px;
    width: 90%;
    border: 0;
    border-top: 1px solid grey;
    margin: 0 auto;
    padding: 0;
}


@media all and (max-width: 600px) {
  .profile-info {
    height: 150px;
  }
  .profile-picture img {
    height: 80%;
  }
}




.profile-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  margin: 10px auto;
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px hidden;
  border-radius: 3px;
}

.movie {
  width: 48%;
  max-height: 220px;
  margin: 10px;
  padding-bottom: 5px;
  background-color: white;

  transition: all .1s ease-in-out;
}

.movie:hover {
  transform: scale(1.05);
  filter: brightness(110%);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.movie img {
  max-width: 150px;
  height: 100%;
}

.movie .content {
  width: calc(100% - 180px);
  height: 200px;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
}

.movie .content h3 {
  margin-bottom: 5px;
}

.movie .content h5 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.delete-button {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    height: 22px;
    width: 22px;
    padding: 3px;
    border: 1px solid #303030;
    border-radius: 2px;
    transition: all .1s ease-in-out;
		background-color: white;
}
.delete-button:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.history-element h1{
    font-size: 30px;
    text-transform: capitalize;
    border-bottom: none;

    transition: all .1s ease-in-out;
}
.history-element h1:hover {
    transform: scale(1.01);
    filter: brightness(110%);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


.movie-image {
  width: 11.5%;
  max-height: 220px;
  margin: 10px;
  padding-bottom: 5px;
  background-color: white;

  transition: all .1s ease-in-out;
}

.movie-image:hover {
  transform: scale(1.05);
  filter: brightness(110%);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.movie-image img {
  max-width: 150px;
  height: 100%;
}

.detail-toggle-button {
	position: relative;
	margin-top: 10px;
	height: 40px;
	width: 40px;
	padding: 3px;
	border: 1px solid #303030;
	border-radius: 2px;
	transition: all .1s ease-in-out;
	background-color: white;
}

.detail-toggle-button:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
