* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

.welcome-header {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
}

.welcome-header h1{
	font-size: 4em;
}

.feed-container {
	margin: 30px auto;
	padding: 5px;
	width: 87%;
	border-radius: 5px;
    border: 2px hidden;
    /*background-color: #0c313f;*/
    background: linear-gradient(to bottom right, #009dc4, #316ea0);

    /* Shading */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.45);
}

.feed-conatiner-name span {
	font-size: 1.6em;
	color: white;
	margin-left: 30px;
	
	text-decoration: underline;
    -webkit-text-decoration-color: #0a313f;
  	text-decoration-color: #0a313f;
}

.feed-element {
	margin: 10px;
	padding: 5px;
	width: 200px;
    border: 1px hidden;
	border-radius: 3px;
    display: inline-block;
	background-color: white;

	cursor: pointer; cursor: hand;

    /* Transition hover effect */
    transition: all .2s ease-in-out;
}

.feed-element:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
	transform: scale(1.035);
}

.feed-element-image {
	margin: 0 auto;
	border: 1px hidden;
	border-radius: 3px;
}

.feed-element-image img {
	height: 300px;
}

.feed-element-text {

}