* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  color: white;
}

body p {
  font-size: 1.2em;
}


/* Navbat styling */
.navbar {
  background-color: #0a313f;
  height: 47px;
  width: 100%;
  color:white;
  text-align: center;
  padding-top: 23px;
  font-size: 20px;
  position: fixed;
}

/* Navbar button elements */
.nav-home {
  float: left;
  width: 20%;
  display: inline-block;
}

#nav-login {
  float:right;
  width: 20%;
  display: inline-block;
}

/* Navbar search styling */
#nav-search {
  width: 50%;
  display: inline-block;
}

form.search-form input.search-text {
  font-size: 70%;
  color: #8D8D8D;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  background-color: #FFF;
  display: block;
  width: 450px;
  padding: 15px 15px;
  border: none;
  margin: -10px auto;
}

/* Styling an effects for navbar buttons */
.nav-buttons {
  height: 80%;
  padding: 5px;
  font-size: 20px;
  color: white;
  background-color: #0a313f;
  border-style: none;
  cursor:pointer;

  /* Hover effect for nav button */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.nav-buttons:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 2.5px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-buttons:hover:before, .nav-buttons:focus:before, .nav-buttons:active:before {
  left: 0;
  right: 0;
}

.backdrop-image {
  min-height:100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

article {
  padding-top: 75px;
}

.poster-image, .movie-description, .social-friends {
    display: inline-block;
    height: 100%;
}

.poster-image, .social-friends {
  width: 25%;
}

.movie-info {
  margin-top: 150px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 450px;
  display: flex;
}

.poster-image img {
  display: block;
  margin: -30px auto;
  width: 80%;
  min-width: 220px;
  border-radius: 5px;
  box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
}

.movie-description {
  width: 50%;
  padding-bottom: 50px;
}

.movie-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.movie-title, .movie-year {
  font-size: 30px;
}

.movie-description > .movie-about {
    width: 80%;
}

.movie-about {
  margin-top: 20px;
}


.movie-button {
  width: 195px;
  height: 110px;
  font-size: 25px;
  color: white;
  border-radius: 3px;
  border: 1px hidden white;
  margin: 10px;
  cursor:pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: all .3s ease;
}

.movie-button:hover {
  transform: scale(1.035);
}

#plan-to-watch {
  background-color: #e3bd69;
}
#have-watch {
  background-color: #82c3e5;
}
#friend-recommend {
  background-color: #c8aabe;
}
#add-to-list {
  background-color: #aeb97e;
}


.social-friends {
  margin: 20px;
}

/* ---!!! Third party styling !!!--- */
.poster-image .shine {
  position: absolute;
  width: 80%;
  margin: -30px auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 60%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 60%);
  z-index: 100;
}
.poster-image div[class*="layer-"] {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: 0.1s;
          transition: 0.1s;
}

.full_width {
  height: 60px;
}
.people p a{
  text-decoration:none;
  color:white;
}
ol.people li img {
  border-color: white;
}
