* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

.welcome-header {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
}

.welcome-header h1{
	font-size: 4em;
}

.feed-container {
	margin: 30px auto;
	padding: 5px;
	width: 87%;
	border-radius: 5px;
    border: 2px hidden;
    /*background-color: #0c313f;*/
    background: linear-gradient(to bottom right, #009dc4, #316ea0);

    /* Shading */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.45);
}

.feed-conatiner-name span {
	font-size: 1.6em;
	color: white;
	margin-left: 30px;
	
	text-decoration: underline;
    -webkit-text-decoration-color: #0a313f;
  	text-decoration-color: #0a313f;
}

.feed-element {
	margin: 10px;
	padding: 5px;
	width: 200px;
    border: 1px hidden;
	border-radius: 3px;
    display: inline-block;
	background-color: white;

	cursor: pointer; cursor: hand;

    /* Transition hover effect */
    transition: all .2s ease-in-out;
}

.feed-element:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
	transform: scale(1.035);
}

.feed-element-image {
	margin: 0 auto;
	border: 1px hidden;
	border-radius: 3px;
}

.feed-element-image img {
	height: 300px;
}




/* Navbat styling */
.navbar {
  background-color: #0a313f;
  height: 47px;
  width: 100%;
  color:white;
  text-align: center;
  padding-top: 23px;
  font-size: 20px;
  z-index: 1;
}

/* Navbar button elements */
.nav-home {
  float: left;
  width: 20%;
  display: inline-block;
}

#nav-login {
  float:right;
  width: 20%;
  display: inline-block;
}

/* Navbar search styling */
#nav-search {
  width: 50%;
  display: inline-block;
}

form.search-form input.search-text {
  font-size: 70%;
  color: #8D8D8D;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  background-color: #FFF;
  display: block;
  width: 450px;
  padding: 15px 15px;
  border: none;
  margin: -10px auto;
}

/* Styling an effects for navbar buttons */
.nav-buttons {
  height: 80%;
  padding: 5px;
  font-size: 20px;
  color: white;
  background-color: #0a313f;
  border-style: none;
  cursor:pointer;

  /* Hover effect for nav button */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.nav-buttons:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 2.5px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-buttons:hover:before, .nav-buttons:focus:before, .nav-buttons:active:before {
  left: 0;
  right: 0;
}

/* Old code */

.navbar .nav-home .dropdown-content {
  z-index: 100;
  display: none;
  background-color: #0a313f;
  filter: brightness(140%);
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  margin-top: 5px;
}
.navbar .nav-home .dropdown-link {
  color: white;
  text-decoration: none;
}
  .navbar .nav-home .dropdown-link:visited {
    color: white;
    text-decoration: none;
  }
  .navbar .nav-home .dropdown-link:hover {
    color: gray;
  }
.navbar .nav-home:hover .dropdown-content {
  display: block;
}
