* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  color: white;
}

.nav-bar {
  background-color: #385d99;
  display: block;
  height: 10%;
}

article {
  overflow: hidden;
  width: 100%;
  height: 90%;  
  background: linear-gradient(
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.65)),
    url('http://image.tmdb.org/t/p/original/xu9zaAevzQ5nnrsXN6JcahLnG4i.jpg');
  background-size: cover;
}

.movie-info {
    margin-top: 150px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 450px;
    display: flex;
}

.movie-rating, .poster-image, .movie-description {
    display: inline-block;
    height: 100%;
}

.movie-rating, .poster-image {
  width: 25%;
}

.poster-image img {
  display: block;
  margin: -30px auto;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
}

.movie-description {
  width: 50%;
}

.movie-info h1 {
    font-size: 40px;
}

.movie-info h2 {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.movie-about > p {
    line-height: 1.8;
}

.movie-description > .movie-about {
    width: 80%;
}

.movie-about .year {
    color: lightgray;
}

.movie-buttons {
  margin: 0 auto;
  padding-top: 30px;
}

.movie-button {
    width: 200px;
    height: 200px;
    font-size: 25px;
    color: white;
    margin-right: 10px;
    background: linear-gradient(
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.65));
    border-radius: 5px;
    border: 1px solid white;
    margin: 10px;
}

.movie-rating p {
  font-size: 72px;
  padding-top: 50%;
}
